CompileFlags:
  Add: [
    "-isystem", "D:/Minhas coisas/Hustle/sample_cmake/include",
    "-isystem", "D:/Minhas coisas/Hustle/sample_cmake/src",
    "-isystem", "D:/Minhas coisas/Hustle/sample_cmake/libs"
  ]

